*.png
*.jpeg
*.pdf
*.html
*.svg
*.tsv
*.csv
*.log
*.out
*.snakemake
*.slurm*
*.slrm*
*.ipynb_checkpoints
__pycache__
*.Rhistory
*.RData
*.tar.gz
*.h5ad
cluster.json
submit.slrm
submit.sh
workflow/tmp
resources/h5ad_files
resources/test_h5ad_objs
resources/references
results
outs
logs
data
run_scripts.sh
run_rscripts.sh