*.png
*.jpeg
*.pdf
*.svg
*.tsv
*.csv
*.log
*.out
*.snakemake
*.slurm*
*.slrm*
*.ipynb_checkpoints
__pycache__
*.Rhistory
*.RData
cluster.json
submit.slrm
submit.sh
workflow/tmp
resources/h5ad_files
resources/test_h5ad_objs
results